{% block entity_widget %}
<div id="providerImport">
    <p>Import fichier fournisseur</p>
    <div id="fileChoice">
        <label id="inputFileLabel" for="inputFile" class="btn btn-success">
            <i class="glyphicon glyphicon-picture"></i>
            Fichier (.csv):
        </label>
        <input id="inputFile" class="ajax_file hidden" type="file" data-target="{{ path('ecortex_pm_importFile') }}" >
        <input id="importProgressPath" type="hidden" value="{{ path('ecortex_pm_importProgess') }}">
        <button id="buttonImport">Importer</button>
    </div>
    <div id="globalStatus">
        <p>Téléchargement:</p>
        <div class="progress">
                <div id="loadingBar" class="bar"></div >
                <div class="percent" id="percentUpload">0%</div >
        </div>

        <p>Traitement:</p>
        <div class="progress">
            <div class="bar" id="traitementBar"></div >
            <div class="percent" id="percentTraitement">0%</div >
        </div>

        <div id="status"></div>
        <div id="importOk"></div>
    </div>
</div>
{% endblock entity_widget %}
